<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ballet&family=Cormorant+Garamond:ital,wght@0,700;1,600&family=Oswald:wght@500&display=swap" rel="stylesheet">
 


 
  
</head>
<body>
<div id="global-container">
 <header class= "header">
  <div class="header-left">
  <a class="char-list" href="#">
  <span class="char">W</span><span class="char">e</span><span class="char">i</span><span class="char">g</span><span class="char">h</span><span class="char">t</span>
   <span class="char"></span><span class="char">A</span><span class="char">p</span><span class="char">p</span>
  </a>
  
  </div>
  <div class="header-right">
  <ul class = "menu-list">
  <li class = "char1"><span class="char">T</span><span class="char">w</span><span class="char">e</span><span class="char">e</span><span class="char">t</span></li>
  <li class = "char2"><span class="char">T</span><span class="char">w</span><span class="char">e</span><span class="char">e</span><span class="char">t</span><span class="char">s</span><span class="char">L</span><span class="char">i</span><span class="char">s</span><span class="char">t</span></li>
  <li><a href="#"><span class="char">i</span><span class="char">t</span><span class="char">e</span><span class="char">m</span></a></li>
  <li><a href="#"><span class="char">i</span><span class="char">t</span><span class="char">e</span><span class="char">m</span></a></li>
  
  <button class = "btn slide"><span class="char">b</span><span class="char">u</span><span class="char">t</span><span class="char">t</span><span class="char">o</span><span class="char">n</span></button>
  </ul>
  </div>
 </header>
 <div id="container">
    <div class= "text-area">
      <span class= "text1">Title</span>
      <input class="text" type="text">
      <span class="text2">Text</span>
      <textarea class="text" name="" id="" cols="30" rows="10"></textarea>
      <input class="text" type="submit" value="Tweet">
 
    </div>
    <div class= "content-text">
      <p>Let's do our best  <br>to manage weight !!</p> 
    </div>
    <div class = "photo-ul">
     <p class = "photo-text">PhotoList</p>
     <div class = "photo-li">
     </div>
    
    </div>
  </div>


</div>
<%= javascript_pack_tag 'main.js' %>
</body>
</html>



