<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div id="global-container-show">
  <div class="prf-img">
  <img src="" alt="">
  </div>
  <section class="profile">
    <div class="profile-top">
    <p class = "profile-comment">aaaaa</p>
    </div>
    <div class = "profile-diary">
    </div>
  </section>
  <section class="graph">
    <p>bbbbb</p>
  </section>
  <section class="calendar">
  <p>ccccc</p>
  </section>

</div>
  
</body>
</html>