body {
  margin: 0;
}

html {
  font-family: Cormorant Garamond;
}

a {
  text-decoration: none;
}

#global-container {
  background-image: url("/assets/kirei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(36, 36, 35, 0.323);
}

.header.inview {
  background-color: white;
}

.header .header-left {
  color: white;
  padding-left: 3vw;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.header .header-left .char-list {
  color: white;
}

.header .header-left .char-list .char {
  margin-right: 2px;
  opacity: 0;
  display: inline-block;
  -webkit-animation-name: kf-animation;
          animation-name: kf-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .header-left .char-list .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.header .header-left .char-list .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.header .header-left .char-list .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.header .header-left .char-list .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.header .header-left .char-list .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.header .header-left .char-list .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.header .header-left .char-list .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.header .header-left .char-list .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.header .header-left .char-list .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.header .header-left .char-list .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.header .header-right .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 20px;
}

.header .header-right .menu-list li {
  margin-right: 50px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header .header-right .menu-list li:hover {
  opacity: 0.5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .header-right .menu-list li span {
  color: white;
  opacity: 0;
  display: inline-block;
  -webkit-animation-name: kf-animation;
          animation-name: kf-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .header-right .menu-list li span:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.header .header-right .menu-list li span:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.header .header-right .menu-list li span:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.header .header-right .menu-list li span:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.header .header-right .menu-list li span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.header .header-right .menu-list li span:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.header .header-right .menu-list li span:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.header .header-right .menu-list li span:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.header .header-right .menu-list li span:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.header .header-right .menu-list li span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.header .header-right .menu-list li span:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

.header .header-right .menu-list li span:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.header .header-right .menu-list li span:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.header .header-right .menu-list li span:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.header .header-right .menu-list li span:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.header .header-right .menu-list li a .char {
  color: white;
  opacity: 0;
  display: inline-block;
  -webkit-animation-name: kf-animation;
          animation-name: kf-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .header-right .menu-list li a .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.header .header-right .menu-list li a .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.header .header-right .menu-list li a .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.header .header-right .menu-list li a .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.header .header-right .menu-list li a .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.header .header-right .menu-list li a .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.header .header-right .menu-list li a .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.header .header-right .menu-list li a .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.header .header-right .menu-list li a .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.header .header-right .menu-list li a .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.header .header-right .menu-list li a .char:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

.header .header-right .menu-list li a .char:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.header .header-right .menu-list li a .char:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.header .header-right .menu-list li a .char:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.header .header-right .menu-list li a .char:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.header .header-right .menu-list .btn {
  margin-right: 50px;
  font-size: 20px;
  border: white solid 3px;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 30px;
  -webkit-animation-name: kf-animation;
          animation-name: kf-animation;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .header-right .menu-list .btn .char {
  opacity: 0;
  display: inline-block;
  -webkit-animation-name: kf-animation;
          animation-name: kf-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .header-right .menu-list .btn .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.header .header-right .menu-list .btn .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.header .header-right .menu-list .btn .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.header .header-right .menu-list .btn .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.header .header-right .menu-list .btn .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.header .header-right .menu-list .btn .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.header .header-right .menu-list .btn .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.header .header-right .menu-list .btn .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.header .header-right .menu-list .btn .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.header .header-right .menu-list .btn .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.header .header-right .menu-list .btn .char:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

.header .header-right .menu-list .btn .char:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.header .header-right .menu-list .btn .char:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.header .header-right .menu-list .btn .char:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.header .header-right .menu-list .btn .char:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.char {
  font-family: Cormorant Garamond !important;
}

#container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
}

.content-text {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 70px;
  -webkit-animation: kf-animate-chars 1.3s;
          animation: kf-animate-chars 1.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: white;
}

.content-text.outview {
  -webkit-animation: kf-animate-chars2 1.3s;
          animation: kf-animate-chars2 1.3s;
  opacity: 0;
}

.content-text.inview {
  -webkit-animation: kf-animate-chars2 1.3s;
          animation: kf-animate-chars2 1.3s;
  opacity: 0;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@-webkit-keyframes kf-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes kf-animate-chars2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

@keyframes kf-animate-chars2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

.top-image2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: calc(100vh - 100px);
}

.text-area {
  width: 60%;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}

.text-area.inview {
  visibility: hidden;
}

.text-area.outview {
  visibility: visible;
  position: relative;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: kf-animate-chars 1.3s;
          animation: kf-animate-chars 1.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.text-area.outview .text {
  color: white;
  font-size: 30px;
  font-family: Cormorant Garamond;
}

.text-area.outview .text:nth-child(2) {
  width: 50%;
  height: 50px;
  border: rgba(12, 12, 12, 0.1) solid 2px;
  background-color: rgba(134, 132, 132, 0.1);
}

.text-area.outview .text:nth-child(4) {
  height: 50%;
  width: 70%;
  border: rgba(12, 12, 12, 0.1) solid 2px;
  background-color: rgba(134, 132, 132, 0.1);
  font-size: 25px;
}

.text-area.outview .text:nth-child(5) {
  width: 20%;
  background-color: rgba(134, 132, 132, 0.1);
  letter-spacing: 2px;
  margin-top: 20px;
  border: rgba(12, 12, 12, 0.1) solid 2px;
  cursor: pointer;
  font-size: 20px;
}

.text1 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.text2 {
  color: white;
  font-size: 30px;
  margin: 10px 0;
}

.photo-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 50%;
  height: 80%;
  top: 5%;
  left: 5%;
  visibility: hidden;
}

.photo-ul.outview {
  visibility: hidden;
}

.photo-ul.inview {
  visibility: visible;
  left: 30%;
  -webkit-animation: kf-animate-chars 1.3s;
          animation: kf-animate-chars 1.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.photo-ul .photo-li {
  width: 100%;
  background-color: rgba(134, 132, 132, 0.1);
  height: 100%;
}

.photo-ul .photo-text {
  color: white;
  font-size: 30px;
}
/*# sourceMappingURL=index.css.map */