body{
  margin: 0;
  
}
html{
  font-family: Cormorant Garamond;
}
a{
  text-decoration: none;
}
#global-container{
  background-image: url("/assets/kirei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  width: 100vw;
  height:100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(36, 36, 35, 0.323);
  &.inview{
    background-color: white;
  }
  
  & .header-left{
    
    color:white;
    padding-left: 3vw;
    font-size: 25px;
    display: flex;
    text-align: center;
 
    & .char-list{
      color: white;
      & .char{
        margin-right: 2px;
        opacity:0;
        display: inline-block;
        animation-name: kf-animation;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.04s;
          }
        }
        
            } 

       
      
    }
  }
  & .header-right{
    & .menu-list{
      display: flex;
      list-style: none;
      font-size: 20px;
      
      
      & li{
        margin-right: 50px;
        text-decoration: none;
        color: white;
        cursor: pointer;
        
        &:hover{
          opacity: 0.5;
         transition: 0.4s;
        }
        
        
        & span{
          color: white;
          opacity:0;
          display: inline-block;
          // cursor: pointer;
          animation-name: kf-animation;
          animation-duration: 1s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
          @for $i from 1 through 15{
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.04s;
            }
          }
         
        }
        & a .char{
          color: white;
          opacity:0;
          display: inline-block;
          animation-name: kf-animation;
          animation-duration: 1s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
          @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.04s;
            }
          }
          
        }
        
      }
      & .btn{
        
        
        margin-right: 50px;
        font-size: 20px;
        // border-radius: 20px;
        border: white solid 3px;
        color: white;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        padding:0 30px;
        animation-name: kf-animation;
          animation-duration: 1.3s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
      

        & .char{
          opacity:0;
          display: inline-block;
          animation-name: kf-animation;
          animation-duration: 1s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
          @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.04s;
            }
          }
        }
       
      }
    }
   
  }
}
.char{
  font-family: Cormorant Garamond !important;
}
#container{
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
}
.content-text {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 70px;
  animation: kf-animate-chars 1.3s;
  // opacity: 0;
  animation-fill-mode: both;
  color: white;
  &.outview{
    // visibility: hidden;
    animation: kf-animate-chars2 1.3s;
    opacity: 0;
  }
  &.inview{
    animation: kf-animate-chars2 1.3s;
    opacity: 0;
  }
  
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translate(-50%,50%);
    
  }

  100% {
    opacity: 1;
    transform: translate(-50%,0);
    
  }
}
@keyframes kf-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes kf-animate-chars2{
  0% {
    opacity: 1;
    transform: translate(-50%,0);
    
  }

  100% {
    opacity: 0;
    transform: translate(50%,0);
    
  }
}



.top-image2 {
  object-fit: cover;
  width: 100vw;
  height: calc(100vh - 100px);
}



.text-area{
  width: 60%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  visibility: hidden;
  
   
  &.inview{
    visibility: hidden;
  }
   
     
  
  &.outview{
    visibility: visible;
    position: relative;
    left: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: kf-animate-chars 1.3s;
      animation-fill-mode: both;
     
    
     
   
    & .text{
      
      color: white;
     
      font-size: 30px;
      font-family: Cormorant Garamond ;
      
      // border-radius: 10px; 
   
      
      
      &:nth-child(2){
        width: 50%;
        height: 50px;
        border:rgba(12,12,12,0.1) solid 2px;
        // border-radius: 10px;
        background-color: rgba(134, 132, 132, 0.1);
      }
      &:nth-child(4){
        height: 50%;
        width: 70%;
        border:rgba(12,12,12,0.1) solid 2px;
        // border-radius: 10px;
        background-color: rgba(134, 132, 132, 0.1);
        font-size: 25px;
      }
      &:nth-child(5){
        width:20%;
        background-color: rgba(134, 132, 132, 0.1);
        letter-spacing: 2px;
        margin-top: 20px;
        border:rgba(12,12,12,0.1) solid 2px;

        cursor: pointer;
        font-size: 20px;
        
     
        
      }
      
    }
  }
}
.text1{
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
 
}
.text2{
  color: white;
  font-size: 30px;
  margin:10px 0 ;
}
//一覧表示
.photo-ul{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   position: absolute;
   width: 50%;
   height: 80%;
   top: 5%;
   left: 5%;
   visibility: hidden;
    &.outview{
      visibility: hidden;
    }
    &.inview{
      visibility: visible;
      left: 30%;
      
      animation: kf-animate-chars 1.3s;
      // opacity: 0;
      animation-fill-mode: both;
      
    }
    & .photo-li{
      width: 100%;
      background-color:  rgba(134, 132, 132, 0.1);
      height: 100%;
      
      
    }
    & .photo-text{
      color: white;
      font-size: 30px;
     


    }
  }    